.navbar-gradient
  nav.navbar.navbar-toggleable-sm.navbar-color
    .navbar-toggler.navbar-toggler-right.pointer.full-height.flex-vertical.icon-badge(data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation" style = "margin-right:-15px;")
      span.fa.fa-bars.fa-lg.white
    .nav-item
      a.nav-link(href="/")
        b TheGenieOfTruth
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav  
        li.nav-item
          a.nav-link.margin-30-sm(href="/")
            | Home 
            span.sr-only (current)
        |       
        li.nav-item
          a.nav-link.margin-30-sm(href="/htmlproject") Learn
        |       
        li.nav-item
          a.nav-link.margin-30-sm(href="/gulp") Sample
        |       
