.navbar-gradient
  nav.navbar.navbar-toggleable-md.navbar-color
    button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href="/")
            b TheGenieOfTruth 
            span.sr-only (current)
            |       
        li.nav-item.active
          a.nav-link(href="/")
            | Home 
            span.sr-only (current)
        |       
        li.nav-item
          a.nav-link(href="/htmlproject") Learn
        |       
        li.nav-item
          a.nav-link(href="/gulp") Sample
        |       
