.navbar-gradient
  nav.navbar.navbar-toggleable-sm.navbar-color
    .navbar-toggler-right.pointer.align-middle(data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
      span.fa.fa-bars.white
    .nav-item
      a.nav-link(href="/")
        b TheGenieOfTruth
    span#navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav  
        li.nav-item
          a.nav-link(href="/")
            | Home 
            span.sr-only (current)
        |       
        li.nav-item
          a.nav-link(href="/htmlproject") Learn
        |       
        li.nav-item
          a.nav-link(href="/gulp") Sample
        |       
