doctype html
html
    head
        //build:js js/main.min.js
        script(src="js/shoop.js")
        script(src="js/doop.js")
        // endbuild
        //build:css css/styles.min.css
        link(rel="stylesheet" href="css/styles.css")/
        link(rel="stylesheet" href="css/thing.css")/
        link(rel="stylesheet" href="#{locals.chunk}base/css/stylesheet.css")/
        //endbuild
        link(rel="stylesheet" href="css/potato.css")/
    body
        p my bro, and also I like unicorns so I guess that's cool
        button ye
        include partials/george.jade
