doctype html
html
    head
        != a(head,{"title":"Gulp"})
        //build:js js/main.min.js
        // endbuild
        //build:css css/styles.min.css
        link(rel="stylesheet" href="#{locals.root}base/css/stylesheet.css")/
        //endbuild
    body
        != a(header,{"pagename":"hallo!"})
        div(class="container")
            p YES!
        != a(footer)
