h1{
transition:0.3s;
font-family: Lato ;
line-height: 1em;
color: whitesmoke;
font-size: 96px;
text-shadow:0px 0px 0 rgb(185,185,185),0px 1px 0 rgb(171,171,171),0px 2px 0 rgb(158,158,158),0px 3px 0 rgb(144,144,144),0px 4px 0 rgb(130,130,130),0px 5px 0 rgb(116,116,116), 0px 6px 0 rgb(102,102,102),0px 7px 6px rgba(0,0,0,0.45),0px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2)}

h1:hover{text-shadow:0px 0px 0 rgb(185,185,185),0px 1px 0 rgb(171,171,171),0px 2px 0 rgb(158,158,158),0px 3px 0 rgb(144,144,144),0px 4px 0 rgb(130,130,130),0px 5px 0 rgb(116,116,116), 0px 6px 0 rgb(102,102,102),0px 7px 6px rgba(0,0,0,0.45),0px 7px 1px rgba(0,0,0,0.5)}
