/*Main CSS flavour to give to all documents*/
body{
  margin:10px;
  padding:10px;
}
h1,h2,h3,h4,h5,h6{
  margin-top:0px !important;
  margin-bottom:0px !important;
  /*I used !important, I am now ashamed D:*/
}
pre{
  border:none;
  margin-top:10px;
  margin-bottom:10px;
  padding-top:5px;
  padding-bottom:5px;
}
