/*Main CSS flavour to give to all documents*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://bootswatch.com/flatly/bootstrap.min.css');
/*5px = 0.2vw
3,0.1
*/
.content{
  margin:10px;
  padding:10px;
}
h1,h2,h3,h4,h5,h6{
    font-family:Roboto !important;
  margin-top:0.1vw !important;
  margin-bottom:0.1vw !important;
  /*I used !important, I am now ashamed D:*/
}

pre{
    display: block;
    font-family: monospace;
    padding: 5px;
    margin: 0 0 10px 3px;
    font-size: 13px;
    line-height: 1;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: linear-gradient(90deg,#f0f0f0,#eee);
  text-align: center;
}
.black{
    color:black
}
.spaced{
    margin:0 10px;
}
