#head-gradient{
    width:100%;
    background:linear-gradient(315deg,#2980b9, #3498db,#1abc9c,#2ecc71);
    color:#eee;
    margin:0.17vw 0;
    flex-wrap:wrap;
}
#head-gradient::after {
  content: '';
  width: 100%;
}
#head-gradient:nth-child(n+1) { /* or `:nth-child(n + 4)` */
  order: 1;
}
