#head-gradient{
    width:100%;
    background:linear-gradient(135deg,#2c3e50,#34495e);
    color:#eee;
    flex-wrap:wrap;


}
#head-gradient::after {
  content: '';
  width: 100%;
}
#head-gradient:nth-child(n+1) { /* or `:nth-child(n + 4)` */
  order: 1;
}
