.testing {
  width: 71.42857%; }

html, body {
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  background: white;
  background-repeat: no-repeat;
  overflow-x: hidden; }

.slick-prev:before, .slick-next:before {
  color: white !important; }

.rp {
  background: #e74c3c;
  padding: 50px 0px; }

.regular a {
  color: #6d2018;
  text-decoration: none;
  transition: 0.1s all; }

.regular a:hover {
  color: #81261d; }

.regular {
  background: #e74c3c;
  color: white;
  margin-left: auto;
  margin-right: auto; }

.regular {
  padding-right: 15px;
  padding-left: 15px; }

.slick-dots li button:before, .slick-dots li.slick-active button:before {
  color: white; }

.green-wrap {
  background: #2ecc71;
  color: white; }

.green-wrap button {
  color: white;
  background: #27ae60;
  transition: 0.1s all; }

.green-wrap a {
  color: #19703e;
  transition: 0.1s all;
  text-decoration: none; }

.green-wrap a:hover {
  color: #1e8449; }

.green-wrap button:hover {
  background: #1e8449; }

@media (min-width: 576px) {
  .regular {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .regular {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .regular {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .regular {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 576px) {
  .regular {
    width: 540px;
    max-width: 100%; } }

@media (min-width: 768px) {
  .regular {
    width: 720px;
    max-width: 100%; } }

@media (min-width: 992px) {
  .regular {
    width: 960px;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .regular {
    width: 1140px;
    max-width: 100%; } }

.blogosphere {
  background: #3498db;
  padding: 50px;
  color: white; }

.blogosphere .btn {
  background: #34495e;
  color: white;
  transition: 0.1s all; }

.blogosphere .btn:hover {
  background: #2c3e50; }

canvas {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

#head-gradient {
  height: 100vh;
  width: 100vw; }

#head-gradient {
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  justify-content: center;
  /* justify-content: center;*/ }

.title-container {
  margin-bottom: 10vh; }

#header-target h3 {
  width: 100vw; }
