hr.margin-side-vw
.navbar.navbar-default.navbar-fixed-bottom.pull-left.full
    .margin-side-vw
        p.contact-flex-text Site built with 
            i.fa.fa-heart.red(aria-hidden='true')
            - if(locals.bonus===undefined) locals.bonus = ""
            != locals.bonus
            |  by Luke.
        p
        br
    .contact-flex
        a(data-placement='top', data-toggle='toltip', href='https://github.com/TheGenieOfTruth', target='_blank', title='GitHub')
            i.fa.fa-github
        a(data-placement='top', data-toggle='tooltip', href='http://stackoverflow.com/users/5931915/thegenie-oftruth', target='_blank', title='StackOverflow')
            i.fa.fa-stack-overflow
        a(data-placement='top', data-toggle='tooltip', href='https://www.freecodecamp.com/thegenieoftruth', target='_blank', title='FreeCodeCamp')
            i.fa.fa-free-code-camp
        a(data-placement='top', data-toggle='tooltip', href='mailto:thegenieoftruth@gmail.com', target='_blank', title='thegenieoftruth@gmail.com')
            i.fa.fa-envelope-o
