div(class="gradient-darken")

    div(class="text-center" id="head-gradient")
        br
        h3(class="display-1") #{pagename}
        h3(class="display-5") Things are looking shiny
        br
