@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body, html {
  color: #1b2631;
  /*Dark blue used instead of black, less intense*/
  font-size: 18px;
  width: 100%;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.4; }

.gradient-darken {
  background: #3498db; }

#head-gradient {
  width: 100%;
  color: #f8f8f8;
  flex-wrap: wrap;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 20px 0;
  margin-bottom: 30px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)); }

#head-gradient .display-1, #head-gradient .display-5 {
  word-wrap: break-word;
  width: 100%; }

.absolute-center {
  left: 50%;
  transform: translateX(-50%);
  position: absolute; }

.icon-badge {
  min-height: 50px;
  background: #16527a;
  border-radius: 0;
  transition: background 0.1s; }

.icon-badge:hover {
  background: #124364; }

.navbar-gradient {
  background: #1d6fa5;
  min-height: 45px; }

nav.navbar-color {
  margin: 0px;
  padding: 0px;
  color: #f8f8f8;
  min-height: 50px; }

.navbar-color a, .navbar-color li {
  color: #f8f8f8; }

ul.navbar-nav li.nav-item {
  padding: 0px 5px; }

.nav-item, .nav-brand {
  height: 100%;
  padding: 0px;
  display: inline-block;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  font-size: 20px; }

.nav-item:hover, .nav-brand:hover {
  background-color: #196090; }

/*Get confused*/
li.nav-item:active {
  background: #16527a; }

li.nav-item.active {
  background: #124364; }

.navbar-title {
  display: none; }

a.inline-block.logo.nav-item img {
  transition: 0.2s filter; }

a.inline-block.logo.nav-item img:hover {
  filter: brightness(80%); }

.flex-vertical {
  display: flex;
  justify-content: center;
  align-items: center; }

.pointer {
  cursor: pointer; }

.full, .full-width {
  width: 100%; }

.full, .full-height {
  height: 100%; }

.red {
  color: #e74c3c; }

.inline, .inline * {
  display: inline; }

.inline-block {
  display: inline-block !important; }

.btn {
  cursor: pointer; }

.white {
  color: white; }

.contact-flex {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  width: 50%;
  margin: 0 auto; }

.contact-flex a {
  color: #243342;
  transition: 0.1s color ease-in-out; }

.contact-flex a:hover {
  color: #1b2631; }

.contact-flex-text {
  font-size: 18px; }

.margin-side-vw {
  margin: 0 20vw; }

a.inline-block.logo.nav-item span.absolute-center {
  display: none; }

@media only screen and (max-width: 767px) {
  .contact-flex {
    width: 100%; }
  a.inline-block.logo.nav-item span.absolute-center {
    display: inline;
    font-size: 30px;
    top: 5px; }
  .navbar-title {
    display: inline-block !important; }
  .navbar-title-wrapper {
    margin: 0 auto !important;
    display: inline-block; } }

@media only screen and (max-width: 700px) {
  .contact-flex {
    width: 100%;
    font-size: 30px; }
  .margin-side-vw {
    margin: 0 5px; }
  #head-gradient .display-1 {
    font-size: 64px; }
  #head-gradient .display-5 {
    font-size: 32px; } }

@media only screen and (max-width: 400px) {
  a.inline-block.logo.nav-item span.absolute-center {
    display: none; }
  #head-gradient .display-1 {
    font-size: 50px; }
  #head-gradient .display-5 {
    font-size: 25px; } }
