body {
   margin: 10px;
   padding: 10px;
   color:#1b2631; /*Dark blue used instead of black, less intense*/
}
h1,h2,h3,h4,h5,h6{
    font-weight:400
}
.tiny {
   font-size: 8px;
}

.contact-flex {
   display: flex;
   justify-content: space-between;
   font-size: 40px;
   width: 50%;
   margin: 0 auto;
}

.full {
   width: 100%;
}

.contact-flex a {
   color: #243342;
   transition: 0.1s color ease-in-out;
}

.contact-flex a:hover {
   color: #1b2631;
}
.margin-side-vw{
    margin:0 20vw;
}
.red{
    color:#e74c3c;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 700px) {
   .contact-flex {
      width: 100%;
      font-size:30px;
   }
   .margin-side-vw{
       margin: 0 5px;
   }
}
