body{margin:10px}
textarea{width:300px;height:100px;line:height:50px;resize:none}
lg1{font-size:30px}
lg2{font-size:24px}
ct{font-size:14px}
button{width:100px;border-radius:0px !important;margin:0px !important;display:inline !important}