.gradient-darken{
  background:$base1;
}
#head-gradient{
    width:100%;
    color:#f8f8f8;
    flex-wrap:wrap;
    top:0;right:0;bottom:0;left:0;
    padding:10px 0 20px 0;
    margin-bottom:30px;
    background:linear-gradient(90deg,rgba(0,0,0,0.05),rgba(255,255,255,0.05));
}
#head-gradient .display-1, #head-gradient .display-5{
    word-wrap: break-word;
    width:100%
}
