@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body,html {
   color:#1b2631; /*Dark blue used instead of black, less intense*/
   font-size:18px;
   width: 100%;

}
h1,h2,h3,h4,h5,h6{
    font-weight:400
}

@import "header";
@import "mobile";
@import "navbar";
@import "misc";
@import "footer"
