.ct1{height:77%;width:600px}
.ct2{height:22%;width:600px}
//Width works as 96% total
.btn{padding:20px !important}
button:focus {outline:0 !important;color:#ffffff !important;background-color:#2c2c2c !important;border-color:#272727 !important}