.margin-side-vw{
    margin:0 20vw;
}
a.inline-block.logo.nav-item span.absolute-center{
    display:none
}
@media only screen and (max-width : 767px) {
    .contact-flex{
      width: 100%;
    }
    a.inline-block.logo.nav-item span.absolute-center{
        display:inline;
        font-size:30px;
        top:5px;
    }
    .navbar-title{
        display:inline-block !important;
    }
    .navbar-title-wrapper{
        margin:0 auto !important;
        display:inline-block;
    }
}
@media only screen and (max-width : 700px) {
   .contact-flex {
      width: 100%;
      font-size:30px;
   }
   .margin-side-vw{
       margin: 0 5px;
   }
   #head-gradient .display-1{
       font-size:64px
   }
   #head-gradient .display-5{
       font-size:32px
   }
}
@media only screen and (max-width : 400px){
    a.inline-block.logo.nav-item span.absolute-center{
        display:none;
    }
    #head-gradient .display-1{
        font-size:50px
    }
    #head-gradient .display-5{
        font-size:25px
    }
}
