
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
.center{
    display:block;
    margin: 0 auto;
}
td{display:inline-block;width:22.15%;margin:10px}
.item-sm{height:30px}
.item-lg{height:60px}
.item-button{
    width:200px
}
body{width:1000px;height:700px;padding:10px}
button:focus {
    outline:transparent !important;


}
.disabled {
  cursor:default !important;
}
button.disabled{
    background:#95a5a6;
}
hr{margin-top:21px;margin-bottom:21px;border:0;border-top:1px solid #ecf0f1}
.btn{
    font-size:14px;

}
square{
    width:100px;
    height:100px;
    display:inline-block
}
.palette-1{
    background:#01005E;
    color:white;
    transition:0.2s background;
}
.palette-1:hover{
  background:#22267B;
;
}
.palette-2{
    background:#22267B
}
.palette-3{
    background:#28518A
}
.palette-4{
    background:#17B794;
    color:white;
    transition: 0.2s all;
}
.palette-4:hover{
    background: #47E7C4;
    color:white;
}
.palette-1.disabled:hover,.palette-4.disabled:hover{
    background:#95a5a6;
}
.white{
    color:white
}
.nomargin{
  margin:0px;
}
.margin3{
  margin:10px;
}
.tooltip-inner {
    max-width: 200px;
    /* If max-width does not work, try using width instead */
    width: 200px;
    padding:10px;
}
br.half{
  line-height:0.5;
}
br.quarter{
  line-height:0.25;
}
.glyphicon{
  cursor:pointer;
}