
@font-face{
    font-family: "Pixel";
    src: url("assets/pixel.ttf") format("truetype");
}
body{
    background:#222;
    color:white;
    font-family:"Pixel";
    cursor:default;
    margin:0px;
    padding:0px;
}