
@font-face{
    font-family: "Pixel";
    src: url("assets/pixel.ttf") format("truetype");
}
body{
    background:#222;
    color:white;
    font-family:"Pixel";
    cursor:default;
}
div span{
	padding:10px;
	background:#34495e;
	cursor:pointer;
}
div span:hover{
	background:#2c3e50;

}
.active{
	background:#2ecc71;
}
.active:hover{
	background:#27ae60;
}
<<<<<<< HEAD

=======
>>>>>>> 6c4f550e3b46fe73043e77adbd50db34d77340ae
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
<<<<<<< HEAD
dbg{
  font-size:18px;
  display:block;
  margin:10px 0;
}
=======
>>>>>>> 6c4f550e3b46fe73043e77adbd50db34d77340ae
