doctype html
html
    head
        != a(head,{"title":"TheGenieOfTruth - Blog"})
        //build:js js/main.min.js
        // endbuild
        //build:css css/styles.min.css
        link(rel="stylesheet" href="css/base/stylesheet.css")
        //endbuild
    body
        != a(navbar,{"selected":"Blog"})
        != a(header,{"name":"Blog","sub":"Eh, this is a blog"})
        br
        div(class="container")
            p Here, there be dragons.
            p #[a(href="1/") Here] there be bloggeh
        != a(footer)
        != a(analytics)
