$img: white !default;
$header-padding: 40px !default;
.gradient-darken{
    width:100%;
    color:$header-color;
    flex-wrap:wrap;
    top:0;right:0;bottom:0;left:0;
}
#head-gradient{
    padding:$header-padding 0 $header-padding 0;
    background:$base1;
}
#head-gradient .display-1, #head-gradient .display-5{
    word-wrap: break-word;
    width:100%
}
