doctype html
html
    head
        != a(head,{"title":"Gulp - Whalescome to the page of holy hallos!"})
        //build:js js/main.min.js
        // endbuild
        //build:css css/styles.min.css
        link(rel="stylesheet" href = "css/intro.css")
        link(rel="stylesheet" href="css/base/stylesheet.css")
        //endbuild
    body
        != a(header,{"name":"Water Cycle","sub":""})
        div(class="container")
            br
            h2
                hb What is this "Water Cycle"?
            p Typically, when figuring something out, you want to break it up into parts.
            ul
                li Water: H#[sub 2]0, the stuff you drink so you don't die
                li Cycle: The greek root for circle
            p So... A water circle? Sounds like a demonic cult, but this its actually the scientific term for how water travels and transforms.
            br
            h2
                hb States of Matter
                .small (Sorted in order of awesomeness)
            p This is going to be the most boring part, but you'll get through. Matter (pretty much everything that isn't nothing) can be in different states, with different properties...
            h4
                hb Solid
                br
            p Solids are things you can touch #[i without] your hand going through. The molecules in solids are tightly packed, and often have a lack of thermal energy (heat). Solids have a finite volume and shape.
            h4
                hb Liquid
                br
            p Liquids are things you can drink, yet it's #[i not] always safe to.  The molecules in liquids are loosely packed, and have more thermal energy than solids. Liquids have a finite volume, but not a finite shape.
            h4
                hb Gas
                br
            p Gases are things you can't really see, depending on the gas. The molecules in gases move around wildy and are not packed together at all. They have the #[i most] thermal energy of these states. Gases don't have a finite volume, nor a finite shape.
            br
            h2
                hb But I asked about a Water Cycle!
                .small (But I'm assuming that you have the intelligence of a... uh... not intelligent thing)
            p The Water Cycle is a circle, meaning it has no finite starting point, but we're going to start with one of the most important parts in the water cycle.
            h4
                hb Evaporation
                br
            p An increase in thermal energy (from happy Mr. Sun) causes molecules that were once liquids to turn into gases, and rise into the air as water vapor.
            h4
                hb Condensation
                br
            p As the water vapor rises into the troposphere, it gets colder. Cold enough, that the water turns into a liquid. Then, other gases in the atmosphere form around the water droplet to make what we call "clouds"!
            h4
                hb Precipitation
            p More and more liquid water gets put together, until it is heavy enough to fall down as precipitation, to the ground, where...
            h3
                hb The plot thickens
                br
            p From here, depending on the elevation, the water can go quite a few ways. Let's consult our #[b magical topographic map of #[i SCIENCE!]]
        != a(analytics)
        != a(footer)
