@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:300|Lato');
body{margin:10px; padding:0px;}
p{
  font-family:Lato;
}
h1{
  margin:8px 0;
  font-size:88px;
  font-family:Roboto;
}
h2{
  margin:6px 0;
  font-size:56px;
  font-family:Montserrat;
}
h3{
  margin:5px 0;
  font-size:42px;
  font-family:Montserrat;
}
h4{
  margin:3px 0;
  font-size:28px;
}
h5,h6{
  margin:2px 0;
  font-size:25px;
  font-family:Montserrat;
}
p{
  margin:0px;
}
p,h1,h2,h3,h4,h5,h6{
  padding:0px;
}
p{
  font-size:22px;
}
sp{
  font-family:Montserrat;
  font-size:88.65%;
}
.small-light{
  font-size:30px;
  color:#888;
}
.extra-small-light{
  font-size:20px;
  color:#aaa;
}
.margin-readable{
  margin:0px 50px;
}
.margin-side{
  margin:20px 40px;
}
.tiny-light{
  color:#aaa;
  font-size:16px;
}
.tooltip-inner{
  font-size:16px;
}
.vocab{
  border-bottom: 1px dotted #3498db;cursor:pointer
}
