@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
body{margin:10px;
  background-image:
    linear-gradient(
      59deg,
      #dde3e7, #ecf0f1
    );
}
.bright{
    background-image:
      linear-gradient(
        32deg,
        white, #ecf0f1
      );
      border:0px
}
.darker{
    border-color:#bdc3c7
}
.roboto{font-family:Roboto}
.roundish{border-radius:10px}
