body{background:black}
tile{position:relative}
stackTile{position:absolute;}
tile,stackTile{color:white;font-family:monospace;width:32px;font-size:32px;display:inline-block;margin:0px;}
body{color:white;font-family:monospace;}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
.rotato{
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.rotated{
  display:inline-block;
}
.rotateright{
  -ms-transform: rotate(0deg); /* IE 9 */-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */transform: rotate(0deg);
}
.rotatedown{
  -ms-transform: rotate(90deg); /* IE 9 */-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */transform: rotate(90deg);
}
.rotateup{
  -ms-transform: rotate(270deg); /* IE 9 */-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */transform: rotate(270deg);
}
.rotateleft{
  -ms-transform: rotate(180deg); /* IE 9 */-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */transform: rotate(180deg);
}
