body{margin:10px}
div{margin-bottom:3px}
#story,#options,#hire,#materials{border-color:black;border-style:solid;border-width:1px;display:inline-block;text-align:left;padding:10px}
#spellsAndGathering,#upgradesStatsAndSettings{display:inline-block}
#story,#upgradesStatsAndSettings{width:400px;height:200px}
#options,#hire,#materials,#spellsAndGathering{width:200px;height:200px}

