body{margin:10px;margin-left:100px;margin-right:100px;background-image:url("background.jpg");display: flex;
    flex-direction: column;}
.white{background-color:white;flex:1;padding:10px;margin:0px}
.special{margin:0px}
.subnote{font-size:12px}
textarea{border:none;resize:none;overflow-y:none;width:100%;background:inherit;}
ul.none {
  list-style-type: none;
}
ul{list-style-type: inherit;}