/* Comments in CSS */

poop{
    color:#d35400;
}
.brown-text{
    color:#d35400;
}
/*Also, another thing. You want to only style all paragraphs if you're setting a theme. If you want specific paragraphs to be a certain style, make a class, and if you want a fancy special paragraph, use an id. Remember to give your classes names you will remember as well.
So how do you do the themes that you added?
Well, the themes are just really swaggy CSS stylesheets that make your website cool. So you go and find them, like on bootswatch.com, and then you link them as a CSS f
ies. Can you just use <test>? Or not? Well, ya see you can create new elements. This is cool and fun and helps you customize your own flavor of HTML. So yes, this is possible, and sometimes I create my own flavor of elements. 
What does paragraph mean? Well, paragraph is an element defined with CSS. You can look up its default CSS values. I think there is a good resource on W3schools...
Yep, all paragraphs have this default style:
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
What is an "em", you ask? It's worth16 pixels. Margin top moves the element away from the top of the page. margin-left does not move the element left, but the opposite, like it is pushing away in the sense that a rocket points towards the earth to go up.

TL;DR
Link files
CSS
<link href = "link" rel = "stylesheet" type = "text/css"
JS
<script src = "link"></script>
HTL
<iframe  src = "link"></iframe>

Useful tips:
You can give elements multiple classes (use spacs))
ever use the style = "" attribute, instead create classes for each style.

*/