body{margin:10px;
background: rgb(30,30,30);
color: rgb(225,225,225);
overflow:hidden !important;
}
h1,h2,h3,h4,h5,h6{
    margin-top:0px !important;
    padding:0px !important;
    border:0px !important;
}
.btn-basic{
    background: rgb(225,225,225);
    color:rgb(30,30,30);
    transition:0.2s all;
    font-weight:bold;
}
.btn-basic:hover{
    background: rgb(30,30,30);
    color: rgb(225,225,225)
}
.btn-basic:focus{
    outline:0 !important
}
*{
    font-family:Courier New;
    font-size:18px;
}
#header{
    height:400px;
}
#footer{
    height:100px
}
